<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <%#= image_tag "logo.png", alt: "BTT" %><h3>Bug Tracking Tool</h3>
    <br /><br />
    <h2 class="subtitle">We're working hard to launch our website and we'll be ready very soon</h2>
    <br/>

    <form class="form-inline validate signup" action="#" method="get" role="form">
      <div class="form-group">
        <input type="email" class="form-control" name="EMAIL" id="exampleInputEmail1" placeholder="Enter your email address">
      </div>
      <input type="submit" name="subscribe" value="Get notified!" class="btn btn-theme">
    </form>
    <br/>
  </div>
  <div class="col-sm-12 align-center">
    <ul class="social-network social-circle">
      <li><%= link_to "<i class='fa fa-home'></i>".html_safe, root_url %></li>
      <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#" class="icoGit" title="Github"><i class="fa fa-github"></i></a></li>
      <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
</div>